// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$header-background-color: #464646;
$content-background-color: #f8f8f8;
$main-text-color: #515151;
$yellow-bg-color:#e3c00e;
$heading-text-color:#444;
$footer-menu-items-text-color:#8c8c8c;